@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body, html {
    height: 100%;
    margin: 0 0 0 0;
}

body {
    font-family: 'Open Sans';
    font-weight: 100;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
}

.fondo{
    z-index: -1;
    background: url("../Imagenes/fondo.jpg");
    -webkit-animation: hue-rotate 10s infinite;
    animation: hue-rotate 10s infinite;
    -webkit-filter: grayscale(30%);
    background-size: cover;
    background-position: center;
    padding: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.fondo:before{
    z-index: -1;
    content: "";
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.Sis{
    background-image: url("../Imagenes/fondo2.jpg");
    background-size: cover;
}

.Sis2{
    background-image: url("../Imagenes/fondo3.jpg");
    background-size: cover;
}

.Sis3{
    background-image: url("../Imagenes/fondo4.jpg");
    background-size: cover;
}

.Sis4{
    background-image: url("../Imagenes/fondo5.jpg");
    background-size: cover;
}

.inicio-sesion{
    font-family: 'Amaranth', sans-serif;
    z-index: 1;
    position: fixed;
    min-height: 10rem;
    margin: auto;
    padding: .5rem;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: 9%;
    color: white;
    font-size: 18px;
}

.Busca {
    display: none;
}

.Block{
    pointer-events: none;
}

.Actualiza {
    display: none;
}

.Form{
    padding-top: 0%;
}

img{
    height: 12%;
}

.inicio-sesion p{
    font-family: 'Yusei Magic', sans-serif;
    font-size: 20px;
    color: #7B241C;
}

.null{
    display: none;
}

.error{
    display: block;
}

input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}
input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
}
input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}
input:focus {
    outline: 0 transparent solid;
}
input:focus::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.7);
}
input:focus::-moz-placeholder {
    color: rgba(0, 0, 0, 0.7);
}
input:focus:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.7);
}

.login-form {
    min-height: 10rem;
    margin: auto;
    max-width: 50%;
    padding: .5rem;
}

.Menu {
    min-height: 10rem;
}

.Menu .login-submit{
    font-size: 40px;
}

.login-username, .login-password {
    font-family: 'Hammersmith One', sans-serif;
    background: transparent;
    border: 0 solid;
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
    color: white;
    display: block;
    margin-left: 24%;
    margin-top: 1rem; 
    padding: .5rem;
    -webkit-transition: 250ms background ease-in;
    transition: 250ms background ease-in;
    width: 50%;
    font-size: 20px;
}
.login-username:focus, .login-password:focus {
    background: white;
    color: black;
    -webkit-transition: 250ms background ease-in;
    transition: 250ms background ease-in;
}

.login-submit {
    font-family: 'Hammersmith One', sans-serif;
    border: 1px solid white;
    background: transparent;
    color: white;
    display: block;
    margin: 1rem auto;
    min-width: 1px;
    padding: .25rem;
    -webkit-transition: 250ms background ease-in;
    transition: 250ms background ease-in;
    font-size: 20px;
}
.login-submit:hover, .login-submit:focus {
    background: white;
    color: black;
    -webkit-transition: 250ms background ease-in;
    transition: 250ms background ease-in;
}


@-webkit-keyframes hue-rotate {
    from {
        -webkit-filter: grayscale(30%) hue-rotate(0deg);
    }
    to {
        -webkit-filter: grayscale(30%) hue-rotate(360deg);
    }
}

@keyframes hue-rotate {
    from {
        -webkit-filter: grayscale(30%) hue-rotate(0deg);
    }
    to {
        -webkit-filter: grayscale(30%) hue-rotate(360deg);
    }
}